In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv('../data/train.csv')
df_train.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1

### Quantidade de músicas diferentes que ele ouviu no período de treino (em Flow e não Flow)

In [4]:
users_id = df_train["user_id"].unique()
dict_user = {}

In [27]:
def number_musics_listened(user_id, dict_user):
    df_user = df_train[(df_train["user_id"] == user_id)]
    # case where is_listened was not fixed
    with_flow = len(df_user[(df_user["listen_type"] == 1)]["media_id"].unique())
    regular = len(df_user[(df_user["listen_type"] == 0)]["media_id"].unique())
    
    # case where is_listened equals to 1
    with_flow_listened = len(df_user[(df_user["listen_type"] == 1) & (df_user["is_listened"] == 1)]["media_id"].unique())
    regular_listened = len(df_user[(df_user["listen_type"] == 0) & (df_user["is_listened"] == 1)]["media_id"].unique())
    dict_user[user_id] = {"with_flow": with_flow, "regular": regular, "with_flow_listened": with_flow_listened,
                          "regular_listened": regular_listened}
    return dict_user

In [28]:
for ind, user_id in enumerate(users_id):
    dict_user = number_musics_listened(user_id, dict_user)
    if ind % 1000 == 0:
        print("Restam: {}".format(len(users_id) - ind))

Restam: 19918
Restam: 18918
Restam: 17918
Restam: 16918
Restam: 15918
Restam: 14918
Restam: 13918
Restam: 12918
Restam: 11918
Restam: 10918
Restam: 9918
Restam: 8918
Restam: 7918
Restam: 6918
Restam: 5918
Restam: 4918
Restam: 3918
Restam: 2918
Restam: 1918
Restam: 918

In [44]:
df_user_feat = pd.DataFrame.from_dict(dict_user, orient="index")
df_user_feat.reset_index(level=0, inplace=True)
df_user_feat.columns = ["user_id"] + df_user_feat.columns[1:].tolist()
df_user_feat.to_csv("qtd_musicas_diferentes_flow_noflow.csv", sep=";", index=None)

In [45]:
df_user_feat

array([ 9241, 16547,  7665, ..., 19643, 18659, 18537])