In [6]:
import pandas as pd
import numpy as np

In [7]:
df_train = pd.read_csv('../data/train.csv', nrows=3000)
df_train.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1

### Quantidade de músicas diferentes que ele ouviu no período de treino (em Flow e não Flow)

In [8]:
users_id = df_train["user_id"].unique()
dict_user = {}

In [23]:
# df_train[(df_train["user_id"] == 1)]["media_id"].value_counts().values[0]

2

In [30]:
def number_musics_listened(user_id, dict_user):
    df_user = df_train[(df_train["user_id"] == user_id)]
    max_repet = df_train[(df_train["user_id"] == 1)]["media_id"].value_counts().values[0]
    # case where is_listened was not fixed
    with_flow = len(df_user[(df_user["listen_type"] == 1)]["media_id"].unique())
    regular = len(df_user[(df_user["listen_type"] == 0)]["media_id"].unique())
    
    # case where is_listened equals to 1
    with_flow_listened = len(df_user[(df_user["listen_type"] == 1) & (df_user["is_listened"] == 1)]["media_id"].unique())
    regular_listened = len(df_user[(df_user["listen_type"] == 0) & (df_user["is_listened"] == 1)]["media_id"].unique())
    dict_user[user_id].update({"nmidia_with_flow": with_flow, "nmidia_regular": regular, "nmidia_with_flow_listened": with_flow_listened,
                          "nmidia_regular_listened": regular_listened, "nmidia_max_repet": max_repet})
    return dict_user

def number_of_artists_listened(user_id, dict_user):
    df_user = df_train[(df_train["user_id"] == user_id)]
    # case where is_listened was not fixed
    with_flow = len(df_user[(df_user["listen_type"] == 1)]["artist_id"].unique())
    regular = len(df_user[(df_user["listen_type"] == 0)]["artist_id"].unique())
    
    # case where is_listened equals to 1
    with_flow_listened = len(df_user[(df_user["listen_type"] == 1) & (df_user["is_listened"] == 1)]["artist_id"].unique())
    regular_listened = len(df_user[(df_user["listen_type"] == 0) & (df_user["is_listened"] == 1)]["artist_id"].unique())
    dict_user[user_id].update({"nartist_with_flow": with_flow, "nartist_regular": regular, "nartist_with_flow_listened": with_flow_listened,
                          "nartist_regular_listened": regular_listened})
    return dict_user

def number_of_platform(user_id, dict_user):
    df_user = df_train[(df_train["user_id"] == user_id)]
    # case where is_listened was not fixed
    with_flow = len(df_user[(df_user["listen_type"] == 1)]["platform_name"].unique())
    regular = len(df_user[(df_user["listen_type"] == 0)]["platform_name"].unique())
    
    # case where is_listened equals to 1
    with_flow_listened = len(df_user[(df_user["listen_type"] == 1) & (df_user["is_listened"] == 1)]["platform_name"].unique())
    regular_listened = len(df_user[(df_user["listen_type"] == 0) & (df_user["is_listened"] == 1)]["platform_name"].unique())
    dict_user[user_id].update({"nplatform_with_flow": with_flow, "nplatform_regular": regular, "nplatformt_with_flow_listened": with_flow_listened,
                          "nplatform_regular_listened": regular_listened})
    return dict_user

In [31]:
for ind, user_id in enumerate(users_id):
    dict_user[user_id] = {}
    dict_user = number_musics_listened(user_id, dict_user)
    dict_user = number_of_artists_listened(user_id, dict_user)
    dict_user = number_of_platform(user_id, dict_user)
    if ind % 1000 == 0:
        print("Restam: {}".format(len(users_id) - ind))

Restam: 1319
Restam: 319

In [26]:
df_user_feat = pd.DataFrame.from_dict(dict_user, orient="index")
df_user_feat.reset_index(level=0, inplace=True)
#df_user_feat.columns = ["user_id"] + ["nmidia_" + col for col in df_user_feat.columns[1:].tolist()]
df_user_feat.to_csv("qtd_musicas_diferentes_flow_noflow.csv", sep=";", index=None)

In [27]:
df_user_feat

,index,nartist_with_flow,nartist_with_flow_listened,nmidia_regular_listened,nmidia_regular,nmidia_with_flow,nmidia_max_repet,nartist_regular_listened,nartist_regular,nmidia_with_flow_listened
0,1,1,1,1,1,1,2,1,1,1
1,3,0,0,3,3,0,2,2,2,0
2,4,1,1,0,0,2,2,0,0,1
3,5,0,0,0,1,0,2,0,1,0
4,13,1,1,1,1,1,2,1,1,1
5,14,2,2,0,0,3,2,0,0,3
6,17,0,0,1,1,0,2,1,1,0
7,19,1,1,0,0,1,2,0,0,1
8,22,2,0,0,0,2,2,0,0,0
9,24,0,0,0,1,0,2,0,1,0
10,25,1,1,4,4,1,2,2,2,1
11,31,1,0,0,0,1,2,0,0,0
12,33,1,1,1,1,1,2,1,1,1
13,36,1,1,0,1,1,2,0,1,1
14,38,1,0,0,0,1,2,0,0,0
15,39,0,0,0,1,0,2,0,1,0
16,41,0,0,3,3,0,2,2,2,0
17,44,1,1,0,0,4,2,0,0,3
18,45,0,0,2,2,0,2,2,2,0
19,51,3,3,1,1,3,2,1,1,3
20,52,1,0,0,1,1,2,0,1,0
21,56,1,1,0,0,1,2,0,0,1
22,57,1,1,0,0,1,2,0,0,1
23,58,0,0,0,1,0,2,0,1,0
24,62,2,0,0,0,2,2,0,0,0
25,64,0,0,1,1,0,2,1,1,0
26,65,0,0,3,3,0,2,1,1,0
27,74,0,0,0,1,0,2,0,1,0
28,78,1,1,0,0,1,2,0,0,1
29,82,0,0,1,1,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...
1289,14625,0,0,0,1,0,2,0,1,0
1290,14654,0,0,0,1,0,2,0,1,0
1291,14678,0,0,0,1,0,2,0,1,0
1292,14740,0,0,1,1,0,2,1,1,0
1293,14784,1,0,0,0,1,2,0,0,0
1294,14863,0,0,1,1,0,2,1,1,0
1295,15029,0,0,1,1,0,2,1,1,0
1296,15149,0,0,1,1,0,2,1,1,0
1297,15246,1,1,0,0,1,2,0,0,1
1298,15379,0,0,1,1,0,2,1,1,0
1299,15521,0,0,1,1,0,2,1,1,0
1300,15754,1,1,0,0,1,2,0,0,1
1301,15787,0,0,1,1,0,2,1,1,0
1302,15881,0,0,1,2,0,2,1,1,0
1303,16019,1,0,0,0,1,2,0,0,0
1304,16064,1,1,0,0,1,2,0,0,1
1305,16068,0,0,1,1,0,2,1,1,0
1306,16119,1,1,0,0,1,2,0,0,1
1307,16152,0,0,1,1,0,2,1,1,0
1308,16261,0,0,0,1,0,2,0,1,0
1309,16547,0,0,1,1,0,2,1,1,0
1310,16725,0,0,1,1,0,2,1,1,0
1311,17104,1,1,0,0,1,2,0,0,1
1312,17213,0,0,12,12,0,2,1,1,0
1313,17734,0,0,1,1,0,2,1,1,0
1314,17813,0,0,0,1,0,2,0,1,0
1315,17849,0,0,0,1,0,2,0,1,0
1316,17876,1,1,0,0,1,2,0,0,1
1317,18145,0,0,1,1,0,2,1,1,0
1318,18559,0,0,0,1,0,2,0,1,0

In [17]:
df_user_feat["nmidia_with_flow_listened_PROP"] = df_user_feat["nmidia_with_flow_listened"] / df_user_feat["nmidia_with_flow"]
df_user_feat["nmidia_regular_listened_PROP"] = df_user_feat["nmidia_regular_listened"] / df_user_feat["nmidia_regular"]
df_user_feat["nmidia_PROP_diff"] = df_user_feat["nmidia_with_flow_listened_PROP"] / df_user_feat["nmidia_regular_listened_PROP"]

df_user_feat["nartist_with_flow_listened_PROP"] = df_user_feat["nartist_with_flow_listened"] / df_user_feat["nartist_with_flow"]
df_user_feat["nartist_regular_listened_PROP"] = df_user_feat["nartist_regular_listened"] / df_user_feat["nartist_regular"]
df_user_feat["nartist_PROP_diff"] = df_user_feat["nartist_with_flow_listened_PROP"] / df_user_feat["nartist_regular_listened_PROP"]

In [18]:
df_user_feat.to_csv("nmidia_feats.csv", sep=";", index=None)